/* 359이하 일때 */
@media all and (max-width:360px){
    *{
        margin: 0;
        padding: 0;
        transition-duration: 0.5s;
       }
        #wrap{
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            background: lightgreen;
        }
        header{
            width: 100%;
            height: 100px;
            background: orange;
            margin-bottom: 30px;
            padding: 10px 0;
            box-sizing: border-box;
        }
        .main_logo{
            width: 100px;
            height: 40px;
            background: red;
            margin: 20px auto;
        }
        .main_menu_wrap{
            /* width: 360px;
            height: 40px;
            background: seagreen;
            margin: 0 auto; */
            display: none;
        }
        /* 토클메뉴
        1.모바일 버전에서만 보임
        2.가로세로 30*30
        3.토클 메뉴를 클ㄺ하면 메뉴영역 보이기
        4.전체크기에서 토클메뉴 버튼 보이게 메뉴영역 위치 설정 */

        /* #mo_main_menu{
            display: none;
        }
        .mo_main_out_box{
            width: 30px;
            height: 30px;
            background: red;
            float: right;
            margin-top: -60px;
            margin-right: 10px;
        }
        .mo_box{
            width: 20px;
            height: 7.5px;
            background: white;
            margin: 0 auto;
            margin-top: 5px;
        }
        #mo_main_menu:checked~.main_menu_wrap{
            display: block;
        } */
        /* 쌤해석 */
        .toggle_menu_wrap{
            width: 30px;
            height: 30px;
            float: right;
            margin-top: -50px;
            background: chartreuse;
            position: relative;
        }
        ul,li{
            list-style: none;
        }
        #toggle_input{
            display: none;
        }
        #toggle_label{
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }
        #toggle_menu{
            width: 250px;
            height: 500px;
            background: black;
            position: absolute;
            top: 80px;
            left: -250px;
            color: white;
            text-align: center;
            display: none;
        }
        #toggle_input:checked~ #toggle_menu{
            display: block;
        }

        .out_box{
            width: 100%;
            overflow: hidden;
            background: aqua;
        }
        .main_banner_wrap{
            height: 200px;
            background: yellow;
        }
        



        .in_box{
            height: 43px;
            background: blue;
            float: left;
            margin-bottom: 10px;
        }
        .f_con{
            width: 100%;
        }
        .b_con{
            width: 100%;
        }
    
        footer{
            width: 100%;
            height: 50px;
            background: hotpink;
            margin: 0 auto;
        }


}/*닫히는영역 지우지 않기 */